html, body { height: 100%; background-color: #f5f5f7; font-family: 'Inter'; font-size: 14px; }
.toast-container-notifications .toast-body { background-color: #fff; }
@media only screen and (min-width: 1830px) {
    .container {
        max-width: 1800px;
    }
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat Alternates';
    font-weight: bold;
}

.page-separator { display: table; width: 100%; height: 100%; }
.page-separator-top, .page-separator-bottom { display: table-row; }
.page-separator-bottom { height: 1px; }

/* Header */
.bg-header { background: #202020; color: #fff; }
.header-box { border-bottom: 1px solid #414141; padding: 20px 0; }
.header-buttons-box,
.header-logo-box {
    display: flex;
    align-items: center;
}
.header-buttons-box { justify-content: right; } 

.seach-form-field-container { display: table; width: 100%; border-radius: 4px; overflow: hidden; }
.seach-form-field-box, .seach-form-button-box { display: table-cell; vertical-align: top; }
.seach-form-button-box { width: 1px; }

.seach-form-field-box input {
    width: 100%;    
    height: 48px;   
    padding: 8px 15px;
    margin: 0;
    border: none;
    outline: none;
}
.seach-form-button-box button {
    transition: .3s all ease;
    background-color: #d01418;
    color: #fff;
    padding: 0 50px;
    margin: 0;
    border: none;
    height: 48px;
    transition: .3s all ease;
}
.seach-form-button-box button:hover { background-color: #000000; }
.header-btn-box { display: inline-block; cursor: pointer; margin-left: 30px; }
.header-btn-box svg { 
    fill: #fff; 
    width: 32px;
    height: 32px;
}
.header-btn-cart svg { width: 38px; }
.header-btn-sub-title { font-size: 12px; color: #9f9f9f; }

.header-btn-box a {
    color: #FFF;
    text-decoration: none;
}

.header-btn-box .main-title, .header-btn-box svg{ transition: .3s ease; }

.header-btn-box:hover,
.header-btn-box:hover a {
    color: #d01418;
}
.header-btn-box:hover svg { fill: #d01418; }

/* Main menu */
.header-sidebar-title {
    height: 50px;
    background-color: #d01418;
    color: #fff;
    text-transform: uppercase;
    padding: 14px 12px;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
}

.main-menu ul {
    margin: 0;
    padding: 0;
}
.main-menu ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
.main-menu ul li a {
    padding: 15px 10px;
    text-transform: uppercase;
    color: #FFF;
    display: block;
    height: 50px;
    font-weight: bold;
    text-decoration: none;
    transition: .3s ease;
    position: relative;
}

.main-menu ul li a:after {
    position: absolute;
    content: "";
    background-color: #d01418;
    margin: 0 auto;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 1px;
    width: 30px;
    transition: .3s ease;
    opacity: 0;
}
.main-menu ul li:hover a:after {
    opacity: 1;
}

.main-menu ul li a:hover, .main-menu ul li a:active {
    color: #d01418;
}

/* Content */
.left-sidebar-menu {
    border-radius: 4px;
    border: 1px solid #e3e3e3;
}

.left-sidebar-menu ul {
    padding: 0;
    margin: 0;
}
.left-sidebar-menu ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.left-sidebar-menu ul li a { 
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: #000000;
    transition: .3s ease;
    font-weight: bold;
}
.left-sidebar-menu ul li a:hover, .left-sidebar-menu ul li a:active { color: #d01418; }

/* Footer */
.footer-box { 
    background-color: #000000;
    padding: 12px 0;
    border-top: 1px solid rgba(255, 255, 255, .15);
    color: #f5f5f7;
}

.footer-box a { color: #fff; text-decoration: none; transition: .3s ease; }
.footer-box a:hover, .footer-box a:active { color: #FF0000; }

.sub-footer-box {
    padding: 60px 0 40px;
    color: #c8c8c8;
    background-color: #202020;
}
.sub-footer-box a {
    color: #c8c8c8;
    text-decoration: none;
    transition: .3s ease;
}

.sub-footer-box a:hover,
.sub-footer-box a:active {
    color: #FF0000;
}

.sub-footer-box .rborder { 
    border-right: 1px solid #414141;
}
.sub-footer-box .rborder:last-child { border-right: none; }
.sub-footer-box .sub-footer-pl { padding-left: 30px; }

.sub-footer-box h5 { color: #f5f5f7; margin-bottom: 20px; }
.payment-method img { margin-left: 5px; }

.sub-footer-box ul { margin: 0; padding: 0; }
.sub-footer-box ul li {
    margin: 0;
    padding: 10px 0;
    list-style: none;
}
.sub-footer-box ul li a { font-weight: bold; }

.footer-moblie-box { 
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    color: #c8c8c8;
}
.footer-moblie-box a { display: block; padding: 15px 0; }
.footer-moblie-box a svg { stroke: #fff !important; }

