html, body { height: 100%; background-color: #f5f5f7; font-family: 'Inter'; font-size: 14px; }
.toast-container-notifications .toast-body { background-color: #fff; }

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat Alternates';
    font-weight: bold;
}

.page-separator { display: table; width: 100%; height: 100%; }
.page-separator-top, .page-separator-bottom { display: table-row; }
.page-separator-bottom { height: 1px; }

.footer-box { 
    background-color: #000000;
    padding: 12px 0;
    border-top: 1px solid rgba(255, 255, 255, .15);
    color: #f5f5f7;
}

.footer-box a { color: #fff; text-decoration: none; transition: .3s ease; }
.footer-box a:hover, .footer-box a:active { color: #FF0000; }

.sub-footer-box {
    padding: 60px 0 40px;
    color: #c8c8c8;
    background-color: #202020;
}
.sub-footer-box a {
    color: #c8c8c8;
    text-decoration: none;
    transition: .3s ease;
}

.sub-footer-box a:hover,
.sub-footer-box a:active {
    color: #FF0000;
}

.sub-footer-box .rborder { 
    border-right: 1px solid #414141;
}
.sub-footer-box .rborder:last-child { border-right: none; }
.sub-footer-box .sub-footer-pl { padding-left: 30px; }

.sub-footer-box h1, .sub-footer-box h2, .sub-footer-box h3, .sub-footer-box h4, .sub-footer-box h5 { color: #f5f5f7; }
.payment-method img { margin-left: 5px; }

.sub-footer-box ul { margin: 0; padding: 0; }
.sub-footer-box ul li {
    margin: 0;
    padding: 10px 0;
    list-style: none;
}
.sub-footer-box ul li a { font-weight: bold; }